<% for (let i=0; i < contents.length; i++) { %>
<div class="card">
  <a href="#" class="card-link">
    <div class="card-content">
      <img
        src="/public/images/plan.png"
        alt="Image for exercises"
        width="450"
        height="450"
      />
      <h3><%= plans[i].name %></h3>
      <p><%= plans[i].category %></p>
      <p class="item-count"><%= plans[i].dateAdded %></p>
    </div>
  </a>
</div>
<% } %>
