<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/addExercise.css" />
    <script src="/JS/addExercise.js" defer></script>
    <title>Add Exercise</title>
  </head>
  <body>
    <%- include("navbar/navbar") %>
    <div class="container">
        <h1>Add Exercise</h1>
        <form action="/exercises/add" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required maxlength="30"/><br /><br />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required maxlength="500"></textarea
      ><br /><br />

      <label for="difficulty">Difficulty:</label>
      <select id="difficulty" name="difficulty" required>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option></select
      ><br /><br />

      <label for="duration">Duration:</label>
      <input type="number" id="duration" name="duration" required /><br /><br />

      <label for="category">Category:</label>
      <select id="category" name="category_id" required>
        <% categories.forEach(category => { %>
        <option value="<%= category._id %>"><%= category.name %></option>
        <% }); %></select
      ><br /><br />

      <input type="submit" value="Add Exercise" />
    </form>
    <%- include("footer/footer") %>
  </body>
</html>
