<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/viewEntity.css" />
    <title>GymBro 👊🏼 - by Alexandru Stelea</title>
  </head>

  <body>
    <div class="container">
      <div class="categories">
        <div class="categories-title">Categories</div>
        <div class="categories-list">
          <a href="#" class="category">All</a>
          <a href="#" class="category">Bulk</a>
          <a href="#" class="category">Cut</a>
          <a href="#" class="category">Maintenance</a>
        </div>
        <a href="#" class="admin-button">Admin Dashboard</a>
      </div>
      <div class="main-content">
        <nav class="navbar">
          <a href="/render/index" class="logo">GymBro 👊🏼</a>
          <div class="navbar-right">
            <a href="/render/new">New!</a>
            <a href="/render/plans">Plans</a>
            <a href="/render/workouts">Workouts</a>
            <a href="/render/exercises">Exercises</a>
            <a href="/render/contact">Contact</a>
          </div>
        </nav>
        <header class="entity-title">Plans</header>
        <div class="cards-container">
          <div class="card">
            <div class="card-content">
              <img
                src="/public/images/plan.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Ultra Bulker</h3>
              <p>Duration</p>
              <a href="/render/plan" class="card-button">View Plan</a>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <img
                src="/public/images/plan.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Cutter Max</h3>
              <p>Duration</p>
              <a href="/render/plan" class="card-button">View Plan</a>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <img
                src="/public/images/plan.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Adonis Constant</h3>
              <p>Duration</p>
              <a href="/render/plan" class="card-button">View Plan</a>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <img
                src="/public/images/plan.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Grow like a Pro</h3>
              <p>Duration</p>
              <a href="/render/plan" class="card-button">View Plan</a>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <img
                src="/public/images/plan.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Summer body</h3>
              <p>Duration</p>
              <a href="/render/plan" class="card-button">View Plan</a>
            </div>
          </div>
        </div>
        <div class="footer">Developed by Alexandru-Vasile Stelea</div>
      </div>
    </div>
  </body>
</html>
