<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/plan.css" />
    <title>GymBro 👊🏼 - by Alexandru Stelea</title>
  </head>

  <body>
    <nav class="navbar">
      <a href="/render/index" class="logo">GymBro 👊🏼</a>
      <div class="navbar-right">
        <a href="/render/new">New!</a>
        <a href="/render/plans">Plans</a>
        <a href="/render/workouts">Workouts</a>
        <a href="/render/exercises">Exercises</a>
        <a href="/render/contact">Contact</a>
      </div>
    </nav>
    <header class="entity-title">Plan name</header>
    <div class="content">
      <div class="left-column">
        <h2>Description</h2>
        <p>
          This is a long descrition.This is a long descrition.This is a long
          descrition. This is a long descrition.This is a long descrition.This
          is a long descrition. This is a long descrition.This is a long
          descrition.This is a long descrition.This is a long descrition. This
          is a long descrition.This is a long descrition.This is a long
          descrition.This is a long descrition. This is a long descrition.This
          is a long descrition.This is a long descrition.This is a long
          descrition.
        </p>
        <h2>Workouts</h2>
        <div class="horizontal-cards-section">
          <div class="card">
            <div class="card-content">
              <p>Day 1</p>
              <img
                src="/public/images/workout.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Chest</h3>
              <button class="card-button">View Workout</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>Day 2</p>
              <img
                src="/public/images/workout.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Chest</h3>
              <button class="card-button">View Workout</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>Day 3</p>
              <img
                src="/public/images/workout.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Chest</h3>
              <button class="card-button">View Workout</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>Day 4</p>
              <img
                src="/public/images/workout.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Chest</h3>
              <button class="card-button">View Workout</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p>Day 5</p>
              <img
                src="/public/images/workout.png"
                alt="Image for exercises"
                width="110"
                height="110"
              />
              <h3>Chest</h3>
              <button class="card-button">View Workout</button>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="card-stats difficulty">
          <h2>Difficulty</h2>
          <p>Medium</p>
        </div>
        <div class="card-stats duration">
          <h2>Duration</h2>
          <p>1 minute</p>
        </div>
        <div class="card-stats category">
          <h2>Category</h2>
          <p>Chest</p>
        </div>
        <div class="column-explanation">
          <p>* Difficulty ratings: easy, medium, hard</p>
          <p>* Duration: time to complete 5 sets of 10 reps</p>
        </div>
      </div>
    </div>
    <div class="footer">Developed by Alexandru-Vasile Stelea</div>
  </body>
</html>
